<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Icon Dahomey{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:wght@500;600;700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block header %}{% include '_partials/header.html.twig' %}{% endblock %}

    {% block flashes %}
        {% for label, messages in app.flashes %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="flash {{ label }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}

    <main class="{% block main_class %}{% endblock %}">
        {% block main %}{% endblock %}
    </main>

    {% block footer %}{% include '_partials/footer.html.twig' %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>
